@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
    background-image: url('consola.jpg');
    background-color: rgb(11, 184, 118);
    background-repeat: no-repeat;
    background-size: 82%;
    background-position-x:10%;
    background-position-y: 20%;
    color: black;
}

  .header{
    background-color: rgb(224, 37, 24);
    width: 60%;
    height: 10%;
    margin-left: 20%;
    border: solid yellow 4px;
    border-radius: 20px;
    margin-top: -5%;
    position: absolute;
    z-index: 2;
  }

  .container{
    background-color: rgb(2, 2, 132);
    width: 40%;
    height: 20%;
    margin-left: 31%;
    border: solid yellow 8px;
    border-radius: 20px;
    margin-top: 5%;
    position: relative;
  }

.container2{
    background-color: whitesmoke;
    width: 40%;
    margin-left: 31%;
    border: solid black 6px;
    border-radius: 20px;
    margin-top: 14%;
}

.title{
    color: aliceblue;
    font-size: 26px;
}

h2{
    margin-top: 6%;
    background-color: black;
    width: 70%;
    color: aliceblue;
    border: solid red 4px;
    border-radius: 10px;
    margin-left: 14%;
}

h1{
    margin-top: -1%;
}

.reiniciar{
    width: 12%;
    height: 60px;
    background-color: rgb(123, 203, 220);
    border: solid rgb(7, 100, 188) 4px;  
     border-radius: 50%;
    margin-top: 1.5%;
    font-size: 30px;
    cursor: pointer;
}

.reiniciar:hover {
    background-color: rgb(243, 36, 67);
    border: solid rgb(7, 100, 188) 4px; 
}

.score-container{
    color: black
}
.container{
    
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 30% 600px;
    z-index: 1;
    
}